body {
  margin: 0;
}

.header {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header-ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  border-radius: 10px;
  margin: 0;
  padding: 15px 5px;
}

.header-ul li {
  text-align: center;
  color: rgb(244, 77, 6);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.header-ul li:hover {
  background-color: green;
}

.register-header {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 2px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.register-header-ul {
  list-style-type: none;
  display: flex;
}

.register-header-ul li {
  flex-basis: 50%;
}
.RegisterForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.RegisterForm-Div {
  box-shadow: 0px 1px 5px #00000033;
  padding: 5rem 2rem; /* Adjust top and bottom padding */
  background-color: aquamarine;
  box-sizing: border-box;
  width: 80%;
}

.RegisterForm-Div form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RegisterForm-Div label {
  margin-bottom: 0.5rem;
}

.InputBox{
  padding: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  transition: border-color 0.3s ease; /* Add a smooth transition for better visual effect */
  width: 12rem;
}

.InputBox {
  border-color: #4caf50; /* Change border color on focus */
  margin-left: 10px;
}